body {
  background-color: azure;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.title {
  text-decoration: none;
  text-align: center;
  color: black;
}

#canvas {
  width: 575px;
  height: 300px;
  background-color: #000;
  cursor: pointer;
}
#myCanvas {
  border: 1px solid #9c9898;
}

.thing {
  position: absolute;
}
.dying {
  color: #ff0000;
  font-weight: bold;
}
