<!DOCTYPE html>
<html lang="en-IN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMSK | File download app</title>
  </head>
  <body>

    <% if(locals.error){ %>
        <div style="color: red; margin-bottom: 1rem;">
           Incorrect Password...!!!
        </div>
    <% } %>

    <form
      method="post"
      enctype="multipart/form-data"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500;
        margin: 0 auto;
      "
    >
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required/>

      <button type="submit">Download</button>
    </form>
  </body>
</html>
