body{
    padding: auto;
    border: 05px;
    border-radius: 05px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font: 1em sans-serif;
    background-color: whitesmoke;
}