body {
  padding: 05px;
  border: 05px;
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  text-align: center;
}

nav {
  float: left;
  width: 10%;
  height: 400px;
  background: #aad0ff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

#container {
    float: left;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    height: 450px; 
}